    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

                  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= image_tag current_user.avatar.url(:perfil), class: "img-circle" %>
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <% if current_user.superadmin_role? %>
                                    <li>
                                      <%= link_to rails_admin.dashboard_path do %> Administrar <% end %>
                                    </li>
                                    <li class="divider"></li>
                                  <% else %>
                                    <li><a href="#">Ver Perfil</a>
                                    </li>
                                    <li>
                                      <%= link_to "Editar perfil", edit_user_registration_path(current_user.id) %>
                                    </li>
                                  <% end %>
                                  <li>
                                    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
                                  </li>
                                </ul>
                              </li> 
                </ul>

    	</div>
	</div>
</nav>
	   	



<div class="wrapper">
  <div class="header header-filter"> <!-- style="background-image: url('bg2.jpeg');"-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brandasd">
            <h1>Bienvenido coordinador UTP</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="card card-nav-tabs">

              <div class="header header-info">
                <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->

                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">

                        <% @levels.each do |level| %>
                          <li class="col-md-2 text-center">
                            <a href="#dashboard" data-toggle="tab">
                              <i class="material-icons">dashboard</i>
                              <%=level.name%>
                            </a>
                          </li>
                        <% end %> 

                    </ul>
                  </div>
                </div>
              </div>
              <div class="content">
                <div class="tab-content text-center">
                  <div class="tab-pane active" id="profile">
                    <p> Aquí podras administrar tus cursos y módulos </p>
                  </div>
                  <div class="tab-pane" id="messages">
                    <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                  </div>
                  <div class="tab-pane" id="settings">
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                  </div>
                </div>
              </div>
            </div>

    
            


          </div>
        </div>
      </div>
  </div>
</div>