    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li style="top: 30px; font-size: large;">
            <% if current_user.superadmin_role? %>
              <span> Gestor Interno </span>
            <% elsif current_user.utp_role? %>
              <span> Coordinador UTP </span>
            <% elsif current_user.teacher_role? %>
              <span> Profesor </span>
            <% end -%>
          </li>
                  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= image_tag current_user.avatar.url(:perfil), class: "img-circle" %>
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <% if current_user.superadmin_role? %>
                                    <li>
                                      <%= link_to rails_admin.dashboard_path do %> Administrar <% end %>
                                    </li>
                                    <li class="divider"></li>
                                  <% else %>
                                    <li><a href="#">Ver Perfil</a>
                                    </li>
                                    <li>
                                      <%= link_to "Editar perfil", edit_user_registration_path(current_user.id) %>
                                    </li>
                                  <% end %>
                                  <li>
                                    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
                                  </li>
                                </ul>
                              </li> 
                </ul>

    	</div>
	</div>
</nav>
	   	



<div class="wrapper">
  <div class="header header-filter"> <!-- style="background-image: url('bg2.jpeg');"-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brandasd">
            <h1></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="section">
      <div class="container">
        <div class="row">
          <%= button_to "Mis módulos", levels_path, class: "btn btn-primary col-md-3", style:" margin-right: 100px;", method: :get  %>
          <%= button_to "Módulos disponibles", requests_path, class: "btn btn-primary col-md-3", style:" margin-right: 100px;", method: :get  %>
          <%= button_to "Ver solicitudes", my_request_path, class: "btn btn-primary col-md-3", method: :get  %>
        </div>
      </div>
    </div>
          </div>
        </div>
      </div>
  </div>
</div>