<!-- Terminar barra de navegacion -->

              <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="nav navbar-nav navbar-right">
                  
                  <li>
                      <% if current_user.nil? %>
                        <%= link_to new_user_session_path, class: 'btn btn-primary' do %><i class="material-icons">account_circle</i> Gestor Interno<% end %>
                      <% else %>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= image_tag current_user.avatar.url(:perfil), class: "img-circle" %>
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <% if current_user.superadmin_role? %>
                                    <li>
                                      <%= link_to rails_admin.dashboard_path do %> Administrar <% end %>
                                    </li>
                                    <li class="divider"></li>
                                  <% else %>
                                    <li>
                                      <%= link_to "Ver perfil", profile_path(current_user)%>
                                    </li>
                                    <li>
                                      <%= link_to "Editar perfil", edit_user_registration_path(current_user.id) %>
                                    </li>
                                  <% end %>
                                  <li>
                                    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
                                  </li>
                                </ul>
                              </li> 
                      <% end %>
                    </li>

                </ul>
              </div>
            </div>
          </nav>


<div class="wrapper">
  <div class="header header-filter"> <!-- style="background-image: url('bg2.jpeg');"-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brandasd">
            <h1>Editar <%= current_user.nickname %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="main main-raised">
    <div class="section">
      <div class="container"></div>

      <div class="row">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true  }) do |f| %>

  <div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <%= devise_error_messages! %>
  </div>

  <div class="col-md-offset-2 col-md-8 col-md-offset-2">
    <div class="input-group">
      <span class="label label-primary">Email</span>
      <%= f.email_field :email, autofocus: true, class: "form-control is-empty"%>
      <span class="input-group-addon"> </span>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Actualemente esperando confirmación para: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="input-group">
      <span class="label label-primary">Contraseña      </span>
      <% if @minimum_password_length %>
        <p><%= @minimum_password_length %> caracteres mínimos</p>
      <% end %>
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      <span class="material-input"> </span>
    </div>

    <div class="input-group">
      <span class="label label-primary">Confirmación de contraseña</span>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      <span class="material-input"> </span>
    </div>

    <div class="input-group">
      <span class="label label-primary">Contraseña actual</span>
      <p>necesitamos tu contraseña actual para confirmar los cambios</p>
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      <span class="material-input"> </span>
    </div>


    <div class="input-group">
      <span class="label label-primary">Foto de perfil</span>
      <%= f.file_field :avatar, class: "btn btn-white"  %>
      <span class="material-input"> </span>
    </div>

    <div class="actions text-center">
      <%= f.submit "Actualizar", class: "btn btn-primary " %>
    </div>
  </div>
<% end %>

<%#= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


