<!-- Terminar barra de navegacion -->

              <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="nav navbar-nav navbar-right">
                  
                  <li>
                      <% if current_user.nil? %>
                        <%= link_to new_user_session_path, class: 'btn btn-primary' do %><i class="material-icons">account_circle</i> Gestor Interno<% end %>
                      <% else %>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <%= image_tag current_user.avatar.url(:perfil), class: "img-circle" %>
                                  <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                  <% if current_user.superadmin_role? %>
                                    <li>
                                      <%= link_to rails_admin.dashboard_path do %> Administrar <% end %>
                                    </li>
                                    <li class="divider"></li>
                                  <% else %>
                                    <li>
                                      <%= link_to "Ver perfil", profile_path(current_user)%>
                                    </li>
                                    <li>
                                      <%= link_to "Editar perfil", edit_user_registration_path(current_user.id) %>
                                    </li>
                                  <% end %>
                                  <li>
                                    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
                                  </li>
                                </ul>
                              </li> 
                      <% end %>
                    </li>

                </ul>
              </div>
            </div>
          </nav>


<div class="wrapper">
  <div class="header header-filter"> <!-- style="background-image: url('bg2.jpeg');"-->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brandasd">
            <h1>Ver Perfil </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="main main-raised">
    <div class="section">
      <div class="container"></div>

      <div class="row">

        <div class="col-md-offset-2 col-md-8 col-md-offset-2 ">
          <%= image_tag current_user.avatar.url(:medium), class: "img-circle img-raised img-responsive center-block" %>
        </div>

        <div class="col-md-offset-2 col-md-8 col-md-offset-2  ">
            <h2><span class="label label-primary">Nombre</span></h2>
          <div class="input-group text-center">
            <h1><%= @user.nickname%></h1>
            <span class="input-group-addon"> </span>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-8 col-md-offset-2  ">
            <h2><span class="label label-primary">Email</span></h2>
          <div class="input-group text-center">
            <h1><%= @user.email%></h1>
            <span class="input-group-addon"> </span>
          </div>
        </div>

        <div class="col-md-offset-2 col-md-8 col-md-offset-2  ">
            <h2><span class="label label-primary">Tipo de usuario</span></h2>
          <div class="input-group text-center">
            <h1><% if @user.superadmin_role? %>
                Gestor Interno
              <% elsif @user.utp_role? %>
                Coordinador UTP
              <% else %>          
                Profesor
              <% end %>
            </h1>
            <span class="input-group-addon"> </span>
          </div>
        </div>  
  </div>

<%#= render "users/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


